################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccess/obj
/.vs/MetinvestTest/v16/TestStore/0
/Domain/obj
/MetinvestTest/obj
/.vs/MetinvestTest
/DataAccess/bin/Debug/net472
/Domain/bin/Debug/net472
/MetinvestTest/bin/Debug/net472
