@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/icon.css">
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.easyui.min.js"></script>

<div>
    <table id="employee" title="Employees" toolbar="#toolbar" idField="id"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="fullName" width="50" editor="{type:'validatebox',options:{required:true}}">Full Name</th>
                <th field="lastname" width="50" editor="{type:'validatebox',options:{required:true}}">Last Name</th>
                <th field="phone" width="50" editor="text">Phone</th>
                <th field="email" width="50" editor="{type:'validatebox',options:{validType:'email'}}">Email</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">New</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">Destroy</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">Cancel</a>
    </div>
</div>

<script>
    $('#employee').datagrid({
        url: 'list',
        saveUrl: 'save_user.php',
        updateUrl: 'update_user.php',
        destroyUrl: 'destroy_user.php'
    });
</script>
