@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/icon.css">
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.easyui.min.js"></script>

<div>
    <table class="easyui-datagrid" id="employee" title="Employees" toolbar="#toolbar" idField="id"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="number" width="50" editor="{type:'validatebox',options:{required:true}}">Number</th>
                <th field="fullName" width="50" editor="{type:'validatebox',options:{required:true}}">Full Name</th>
                <th field="sex" width="50" editor="{type:'validatebox',options:{required:true}}">Sex</th>
                <th field="birth" width="50" editor="{type:'datebox',options:{required:true}}">Birthday</th>
                <th field="staffMember" width="50" editor="{type:'validatebox',options:{required:true}}">Is Staff Member?</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#add-dlg').dialog('open')">New</a>
    </div>
</div>

<div id="add-dlg" class="easyui-dialog" title="My Dialog" style="width:600px;height:400px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <form id="add-employee-form" method="post">
        <div>
            <label for="name">Full Name:</label>
            <input id="fullName" class="easyui-validatebox" type="text" name="FullName" data-options="required:true" />
        </div>
        <div>
            <input class="easyui-radiobutton" name="sex" value="Famale" label="Famale:" data-options="required:true">
            <input class="easyui-radiobutton" name="sex" value="Male" label="Male:" data-options="required:true">
        </div>
        <div>
            <label for="email">Birthday:</label>
            <input id="birthday" class="easyui-datebox" type="text" name="Birth2" data-options="required:true" />
        </div>
        <div>
            <label for="email">Is Staff Member:</label>
            <input id="isStaffMember" class="easyui-checkbox" name="IsStaffMember" value="true" />
        </div>
        <input class="easyui-linkbutton" type="submit" value="Submit" style="width:80px;height:30px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#add-dlg').dialog('close')">Cancel</a>
    </form>
</div>

<script>
    $('#employee').datagrid({
        url: 'list'
    });

    $('#add-employee-form').form({
        url: 'create',
        onSubmit: function () {
            return $(this).form('validate');
        },
        success: function (data) {
            $.messager.alert('Info', data, 'info');
            $('#add-dlg').dialog('close');
            $('#employee').datagrid('reload');
        }
    });

    $('#add-employee').click(function () {
        var model = {
            FullName: $('#fullName').val(),
            Sex: $('input[name="sex"]:checked').val(),
            Birth: $('#birthday').val(),
            IsStaffMember: $('#isStaffMember').is(':checked')
        }

        $.ajax({
            url: "create",
            method: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(model)
        }).done(data => {
            $('#add-dlg').dialog('close');
            $('#employee').datagrid('reload');
        });
    });
</script>
