@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.0/themes/icon.css">
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.0/jquery.easyui.min.js"></script>

<div>
    <table class="easyui-datagrid" id="employee" title="Employees" toolbar="#toolbar" idField="id"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="fullName" width="50" editor="{type:'validatebox',options:{required:true}}">Full Name</th>
                <th field="sex" width="50" editor="{type:'validatebox',options:{required:true}}">Sex</th>
                <th field="birth" width="50" editor="text">Birthday</th>
                <th field="IsStaffMember" width="50" editor="{type:'validatebox',options:{validType:'email'}}">Is Staff Member</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#add-dlg').dialog('open')">New</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true">Destroy</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true">Cancel</a>
    </div>
</div>

<div id="add-dlg" class="easyui-dialog" title="My Dialog" style="width:400px;height:200px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed: true">
    Dialog Content.
</div>

<script>
    $(document).ready(function () {
        
    });

    $('#employee').datagrid({
        url: 'list',
        saveUrl: 'save_user.php',
        updateUrl: 'update_user.php',
        destroyUrl: 'destroy_user.php'
    });
</script>
